<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD CUSTOM STATIC RESOURCES -->

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/semantic.min.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/default.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
<script type="text/javascript" src="/js/index.js"></script>