
// copying styles for textarea from semantic
#main-text-input-highlight, #main-input-container
    margin: 0em;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    // padding: 0.78571429em 1em;
    padding: 2px;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    font-family: "Lucida Console", Monaco, monospace;

// from highlight within textarea.css for jquery
.hwt-container {
	display: inline-block;
	position: relative;
	overflow: hidden !important;
	-webkit-text-size-adjust: none !important;
}

.hwt-backdrop {
	position: absolute !important;
	top: 0 !important;
	right: -99px !important;
	bottom: 0 !important;
	left: 0 !important;
	padding-right: 99px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-highlights {
	width: auto !important;
	height: auto !important;
	border-color: transparent !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	color: transparent !important;
	overflow: hidden !important;
}

.hwt-input {
	display: block !important;
	position: relative !important;
	margin: 0;
	padding: 0;
	border-radius: 0;
	font: inherit;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-content {
	border: 1px solid;
	background: none transparent !important;
}

.hwt-content mark {
	padding: 0 !important;
	color: inherit;
}

//disable selection
svg g text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

//MAIN STYLES
body
    padding 20px !important

.hidden
    display none

.highlight
    background yellow

.bordered
    border 1px solid black

.d3-tip
    color white
    padding 5px
    background rgba(0,0,0,0.7)

textarea
    resize none !important

#app
    margin-bottom 50px

#cloud-elements
    display flex
    justify-content space-around
    #cloud-controls
        width 500px
        margin-right 30px
        display flex
        flex-direction column
        #text-input textarea
            height 250px
            width 500px
        #controls
            display flex
            flex-direction column
            #buttons
                display flex
                button
                    width 33%
            #checkboxes
                text-align center
                padding 3px 0px
        #controls-bottom
            display flex
            flex-grow 1
            flex: 1
            textarea
                width 50%
    #cloud-output
        border 2px solid grey
        width 100%
        height 500px
        text
            transition all 200ms
            &:hover
                fill red !important
                cursor pointer

#compsci-container
    margin-top 20px
    
    .tabular.menu
        margin-bottom 20px
    #tab-count
        display flex
        h3:hover
            cursor pointer
        #text-and-controls, #word-table, #python-code
            transition all 300ms
            padding 5px
            &.highlight
                background rgba(255,255,0,0.5) !important
        #step-instructions
            width 25%
            flex 1
        #counting-left
            flex 2
            width 50%
            display flex
            #text-and-controls
                flex 1
                textarea, #static-text
                    display inline-block
                    width 100%
                    height 200px
                    border 1px solid black
                    margin-top 5px
                    padding 3px
                    .counting-mark
                        background white
                        &.highlight
                            background yellow
                            border 1px solid black
                #controls
                    display flex
                    width 100%
                    button
                        flex 1
                        height 65px
                        &last-of-type
                            margin 0 !important
            #word-table
                flex 1
                .ui.checkbox
                    font-size 10px
        #python-code
            margin-left 10px
            width 25%
            flex 1
            
            code span
                cursor pointer
            .python.hljs, pre
                padding 0
                padding-left 3px
                margin 0 !important
                // background transparent
    #tab-dbs
        #db-container
            display flex
            & > div
                flex 1
                width 33%
                margin 10px
            #db-img-container
                text-align center
                img
                    width 100%
            #db-text
                #db-paragraphs
                    display flex
                    flex-direction column
            #doc-example
                span.hljs-attr
                    font-weight bold
                code.hljs.json
                    word-wrap break-word
                    white-space pre-wrap
                    // overflow-x i !important
    #tab-scrape
        #tab-scrape-heading
            display flex
            flex-direction column
            margin-bottom 25px
            & > *
                width 50%
        .can-hover, .can-hover pre.hljs.xml code.hljs.xml
            transition all 300ms
            background rgba(255,255,0,0.1)
            cursor pointer
            &:hover
                background rgba(255,255,0,0.5) !important
        #scrape-links
            display flex
            .left
                margin-right 10px
            .right
                margin-left 10px
            .text, .support
                flex 1
                width 50%
        #scrape-links, #read-html
            .text, .support
                display flex
                justify-content center
                flex-direction column
                img
                    width 100%
                .hljs.xml
                    word-wrap break-word
                    white-space pre-wrap
                    margin 0
                pre, code
                    padding-top 0
                    padding-bottom 0
        #read-html
            margin 25px auto
            width 600px

#tab-about
    display flex
    justify-content space-between
    & > div
        width 40%
    .left
        margin-right 10px
    .right
        margin-left 10px

#choose-papers
    .ui.radio.checkbox
        padding-top 6px