#main-text-input-highlight,
#main-input-container {
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  padding: 2px;
  background: #fff;
  border: 1px solid rgba(34,36,38,0.15);
  outline: none;
  color: rgba(0,0,0,0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  font-family: "Lucida Console", Monaco, monospace;
}
.hwt-container {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important;
}
.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important;
}
.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.hwt-content {
  border: 1px solid;
  background: none transparent !important;
}
.hwt-content mark {
  padding: 0 !important;
  color: inherit;
}
svg g text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
body {
  padding: 20px !important;
}
.hidden {
  display: none;
}
.highlight {
  background: #ff0;
}
.bordered {
  border: 1px solid #000;
}
.d3-tip {
  color: #fff;
  padding: 5px;
  background: rgba(0,0,0,0.7);
}
textarea {
  resize: none !important;
}
#app {
  margin-bottom: 50px;
}
#cloud-elements {
  display: flex;
  justify-content: space-around;
}
#cloud-elements #cloud-controls {
  width: 500px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
#cloud-elements #cloud-controls #text-input textarea {
  height: 250px;
  width: 500px;
}
#cloud-elements #cloud-controls #controls {
  display: flex;
  flex-direction: column;
}
#cloud-elements #cloud-controls #controls #buttons {
  display: flex;
}
#cloud-elements #cloud-controls #controls #buttons button {
  width: 33%;
}
#cloud-elements #cloud-controls #controls #checkboxes {
  text-align: center;
  padding: 3px 0px;
}
#cloud-elements #cloud-controls #controls-bottom {
  display: flex;
  flex-grow: 1;
  flex: 1;
}
#cloud-elements #cloud-controls #controls-bottom textarea {
  width: 50%;
}
#cloud-elements #cloud-output {
  border: 2px solid #808080;
  width: 100%;
  height: 500px;
}
#cloud-elements #cloud-output text {
  transition: all 200ms;
}
#cloud-elements #cloud-output text:hover {
  fill: #f00 !important;
  cursor: pointer;
}
#compsci-container {
  margin-top: 20px;
}
#compsci-container .tabular.menu {
  margin-bottom: 20px;
}
#compsci-container #tab-count {
  display: flex;
}
#compsci-container #tab-count h3:hover {
  cursor: pointer;
}
#compsci-container #tab-count #text-and-controls,
#compsci-container #tab-count #word-table,
#compsci-container #tab-count #python-code {
  transition: all 300ms;
  padding: 5px;
}
#compsci-container #tab-count #text-and-controls.highlight,
#compsci-container #tab-count #word-table.highlight,
#compsci-container #tab-count #python-code.highlight {
  background: rgba(255,255,0,0.5) !important;
}
#compsci-container #tab-count #step-instructions {
  width: 25%;
  flex: 1;
}
#compsci-container #tab-count #counting-left {
  flex: 2;
  width: 50%;
  display: flex;
}
#compsci-container #tab-count #counting-left #text-and-controls {
  flex: 1;
}
#compsci-container #tab-count #counting-left #text-and-controls textarea,
#compsci-container #tab-count #counting-left #text-and-controls #static-text {
  display: inline-block;
  width: 100%;
  height: 200px;
  border: 1px solid #000;
  margin-top: 5px;
  padding: 3px;
}
#compsci-container #tab-count #counting-left #text-and-controls textarea .counting-mark,
#compsci-container #tab-count #counting-left #text-and-controls #static-text .counting-mark {
  background: #fff;
}
#compsci-container #tab-count #counting-left #text-and-controls textarea .counting-mark.highlight,
#compsci-container #tab-count #counting-left #text-and-controls #static-text .counting-mark.highlight {
  background: #ff0;
  border: 1px solid #000;
}
#compsci-container #tab-count #counting-left #text-and-controls #controls {
  display: flex;
  width: 100%;
}
#compsci-container #tab-count #counting-left #text-and-controls #controls button {
  flex: 1;
  height: 65px;
}
#compsci-container #tab-count #counting-left #text-and-controls #controls buttonlast-of-type {
  margin: 0 !important;
}
#compsci-container #tab-count #counting-left #word-table {
  flex: 1;
}
#compsci-container #tab-count #counting-left #word-table .ui.checkbox {
  font-size: 10px;
}
#compsci-container #tab-count #python-code {
  margin-left: 10px;
  width: 25%;
  flex: 1;
}
#compsci-container #tab-count #python-code code span {
  cursor: pointer;
}
#compsci-container #tab-count #python-code .python.hljs,
#compsci-container #tab-count #python-code pre {
  padding: 0;
  padding-left: 3px;
  margin: 0 !important;
}
#choose-papers .ui.radio.checkbox {
  padding-top: 6px;
}
